<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Results</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h1 align="center">Your Search Results</h1>
    <ul>
        <% data["Search"].forEach((movie) => { %>
        <li><strong><%= movie["Title"] %></strong> - <%= movie["Year"] %></li>
        <% }); %>
    </ul>
    <a href="/">Search Again</a>
</body>

</html>